@page "/fetchdata"

@using AjaxBlazor.Data
@inject WeatherForecastService ForecastService
@inject MoviesServices moviesServices

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (service.GetAllMovies() == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description </th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in service.GetAllMovies())
            {
                <tr>
                    <td>@movie.Title</td>
                    <td>@movie.Description</td>
                   
                </tr>    
            }
            
        </tbody>
    </table>
}

@code {
    private List<MovieVM> movies;
    private MoviesServices service = new MoviesServices();
    public void SetMovies()
    {
        movies = service.GetAllMovies();
    }

}
