@model Company
@{
    ViewData["Title"] = "Create";
    ViewBag.Title = "Add employee";
}


    <form asp-controller="company" asp-action="create">
        <label asp-for="CompanyName"></label>
        <input asp-for="CompanyName" />
        <span asp-validation-for="CompanyName"></span>
        <br />
        
        <input type="submit" value="Add Company" />
        
    </form>

@section Scripts {

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}

