
@model EmpComp
@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>
<ul>
        <li>@Model.Company.CompanyName</li>
        
        <li> Företags-id: @Model.Company.Id</li>     
</ul>

<ul>
    @foreach (var item in Model.EmpList)
    {
        <li>@item.Name </li>
    }
</ul>
