@model MovieVM
@using AjaxDemoASP.Components
@{
    ViewData["Title"] = "Index";
}


<label asp-for="@Model.Id"></label>
<input asp-for="@Model.Id" id="textbox" />
<button id="getHtml">GetHTML</button>
<button id="getJSON">GetJSON</button>


<div class="row">
    <div class="col">
    <table class="table table-dark table-striped">
        <thead >
            <tr>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody id="actors">
        </tbody>
    </table>
</div>
    <div class="col">
    <table class="table table-dark table-striped" >
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            
        </tr>
    </thead>
    <tbody id="movies">
    </tbody>
</table>
    </div>

    <div class="col" >
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>

                </tr>
            </thead>
            <tbody id="movies1">
            </tbody>
        </table>
    </div>
 
</div>



@section scripts{
    <script>

        let textBox = document.getElementById("textbox");
        let getHtml = document.getElementById("getHtml");
        let getJSON = document.getElementById("getJSON");
        //let movieID;


        getHtml.addEventListener("click", getHtmlFunc);
        getJSON.addEventListener("click", getJsonInfo);

        //function movieIdMethod() {

        //    $(`#movies`).append(`<tr>
        //        <td style='btn btn-primary'>${movieID.innerHTML}</td>
                
        //        </tr>`)
        //}

        //function ajaxJsonId() {
        //    $.ajax({
        //        url: `/Movies/${movieID.value}`,
        //        type: "GET",
        //        success: function (result) {
                   
        //            movieIdMethod(result);
        //        }
        //    });
        //}

        function getHtmlFunc() {
            fetch(`Movies/${textBox.value}`,
                {
                    method: "GET",
                })
                .then(res => res.text())
                .then(html => document.getElementById("htmlHere").innerHTML = html)

            console.log("klick")
        }
        

        //function getJsonFunc() {
        //    fetch(`MovieData/${textBox.value}`,
        //        {
        //            method: "GET",
        //        }).


        //    console.log("klick")

        //}

        function getJsonInfo() {
            $.ajax({
                url: `/Movies`,
                type: "GET",
                success: function (result) {
                   
                    jsonToHtmlBoot(result.actors, result.movies)
                    //movieID = document.getElementById("a111");
                    //movieID.addEventListener("click", movieIdMethod);
                }
            });
           
        }
   


        function jsonToHtmlBoot(actors, movies) {

                for (var i = 0; i < actors.length; i++) {
                $(`#actors`).append(`<tr id='${actors[i].id}'>
                <td>${actors[i].name}</td>
                <td>${actors[i].age}</td>
                <td onclick="selectPlayer('${actors[i].id}','${actors[i].name}', '${actors[i].age}')" class='btn btn-primary'>${actors[i].age}</td>

                </tr>`)
                    
                 }

              for (var i = 0; i < movies.length; i++) {
                    $(`#movies1`).append(`<tr>
                <td>${movies[i].title}</td>
                <td>${movies[i].description}</td>
                </tr>`)
                }

        }
        function selectPlayer(playerId, playerName, playerAge) {

            $(`#movies`).append(`<tr>
                <td>${playerName} ${playerAge}</td>
                
                </tr>`)
            document.getElementById(playerId).remove;
        }
  

    </script>

}


