@model MovieVM
@{
    ViewData["Title"] = "Index";
}
@section scripts{
    <script>
        let textBox = document.getElementById("textbox");
        let getHtml = document.getElementById("getHtml");

        let getJSON = document.getElementById("getJSON");

        getHtml.addEventListener("click", getHtmlFunc);

        function test() {
            console.log("Testa")
        }

        function getHtmlFunc() {
            fetch(`Movies/${textBox.value}`,
                {
                    method: "GET",
                })
                .then(res => res.text())
                .then(html => document.getElementById("htmlHere").innerHTML = html)

            console.log("klick")
        }
        getJSON.addEventListener("click", getJsonFunc);

        function getJsonFunc() {
            fetch(`MovieData/${textBox.value}`,
                {
                    method: "GET",
                })
            console.log("klick")

        }


    </script>
}
<h1>Index</h1>
<label asp-for="@Model.Id"></label>
<input asp-for="@Model.Id" id="textbox" />
<button id="getHtml">GetHTML</button>
<button id="getJSON">GetJSON</button>
<div id="htmlHere"></div>
<div id="jsonHere"></div>

