
@{
    ViewData["Title"] = "Index";
}

<h1>Medlemssidan</h1>
@if (TempData["Result"] != null)
{
    <p>Login @TempData["Result"]</p>
}


<a asp-controller="Account" asp-action="Register">Register</a>
